*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
 header{
    width: 765px;
    height: 400px;
    background-color: #78B4BE44; 
    margin-bottom: 40px;
 } 
 
 table tr td h1:first-of-type{
  position: relative;
  left: 300px;
  bottom: 20px;
  font-family: cursive;
  color: rgb(120, 180, 190);
  font-size: 35px;
  }
   .one{ 
    position: relative;
     left: 500px;
   }
   .two{
     
     position: relative;
     left: 100px;
     bottom: 60px;
   }
  .three{
     position: relative;
     left: 150px;
     bottom: 50px;
  }
  p{  
  position: relative;
  left: 300px;
  bottom: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(120, 180, 190);
  font-size: 25px;
  padding-top: 10px;
 }
   div img{
  border:1px solid rgb(120, 180, 190);
  border-radius: 50%;
  margin-bottom: 15px;
 }
  h2{
    color: rgb(120, 180, 190);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 20px;

  }
  .mmm{
    text-align: center;
    position: relative;
    left: 200px;
    margin-right: 100px;
    font-size: 10px;
    width: 350px;
    color: rgb(95, 81, 78);
    margin-top: 30px;
  }
   .points{
    text-align: center   ;
   }
  .point{
    display: inline-block;
    font-size:5px ;
    width: 2.5px;
    height:3px;
    margin-top: 2px;
    border-radius:50%;
    background-color: rgb(219, 235, 238);
    position: relative;
    bottom: 20px;
  }
   .table{

   margin: 0 auto;
   margin-top: 30px;
   width: 400px;
  

   }  
   table tr td span {
    padding-left: 0px;
    font-size: 10px;
    color: rgb(95, 81, 78);
    display: block;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 10px;
   }

    .table img {
         
      border:1px solid rgb(120, 180, 190);
      border-radius: 50%;
     }
     span:first-of-type{
      color: rgb(17, 153, 158);
     }
      .small{
       font-family: "Montserrat", sans-serif;
       color:rgb(17, 153, 158);
       font-weight: 600;
       margin-top: 15px;
       line-height: 32px;
       font-size: 10px;
       
     }
    .botton{
      font-size: 10px;
      margin: o auto;
      width: 80px;
      height: 30px; 
      background-color:rgb(116, 191, 204); 
      border: 1px solid rgb(120, 180, 190);
      border-radius: 5px;
      color: #ffffff;
       margin-top: 20px;
       margin-left: 30px;
       margin-bottom: 20px;
         font-family: "Montserrat", sans-serif;
       
    }
    footer{
    width: 765px;
    height: 100px;
    background-color: rgb(116, 191, 204);
    padding-top: 5px; 
    }
    footer div{
       padding-top: 20px;
      
    }
    footer div a{
       font-family: "Montserrat", sans-serif;
       font-size: 10px;
       padding: 10px 10px;
       text-decoration: none;
       color:rgb(30, 85, 102);
    }
    footer div h5{
      color: #ffffff;
      padding-top: 20px;
      font-size: 7px;
      font-weight: 100;

    }